.mobile{
    background-color: rgb(71, 53, 20);
    height: 100vh;
    padding: 20px;
    width: 100%;
    position: relative;
    right: 0px;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
}
.close-icon{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;

}
.mob-options{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mob-option{
    font-size: 24px;
    margin: 12px 0px;
    display: flex;
}
.mob-option a{
    text-decoration: none;
    color: white;
    display: flex;
}