.separator{
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(206,204,22,1) 46%, rgba(209,209,209,1) 75%);    height: 3px;
    width: 100%;
    border-radius: 3px;
    margin: 16px 0px;
    
}
